.imageupload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

#uploadlogo {
    width: 100px;
    padding: 10px;
}