@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body > #root > div {
	height: 100vh;
  }
  
  html, body { 
  margin: 0;
  font-family: 'Roboto', sans-serif;
  }

/* Navigeringsraden struktureras */
.navbar {
	color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
}

/* Gör länkarna i menyn till vita och tar bort textdekorationen */
.navbar a {
	color: black;
	text-decoration: none;
}

/* Ändrar färg vid hover */
.navbar a:hover {
	color: #17A387;
}

/* Loggan */
.primary-icon {
	height: 50px;
	/* margin-top: 10px; */
	margin-left: 10px;
}

/* Tar bort liststilen på menyn */
.nav-list {
	list-style-type: none;
}

/* Gör menyn horisontell och bestämmer avstånd */
.nav-list .list-item {
	display: inline-block;
	padding: 10px 10px 0px 10px;
}

/* Döljer hamburgermenyn i vanligt läge */
.menu {
	display: none;
}

/* Bestämmer pekaren till pointer ovanpå hamburgermenyn */
.menu:hover {
	cursor: pointer;
}

/* Stylar strecken i hamburgermenyn */
.menu-line {
	width: 20px;
	height: 3px;
	background-color: #17A387;
	margin-bottom: 4px;
}

.search input {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	background-color: lightgrey;
	border-radius: 10px;
	width: 50vh;
}

/* För att applicera annan stil på skärmar med mindre bredd */
@media all and (max-width: 900px) {
	
	/* Ger navbar färg och z-index 1 och ändrar font färg */
	.navbar {
		flex-direction: column;
		position: relative;
		background-color: white;
		color: black;
		width: 100%;
		z-index: 1;
	}
	
	/* Justerar positionen på loggan */
	.primary-icon {
		margin-top: 10px;
		margin-left: 10px;
	}
	
	/* Justerar bredden till 100% på länkarna i menyn  */
	.nav-list{
		list-style-type: none;
		width: 100%;
		text-align: center;
		display: none;
	}
	
	/* Lägger till border och avstånd mellan länkar i menyn */
	.nav-list .list-item {
		display: block;
		border-top: 1px solid #17A387;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	/* Ändrar färgen på länkarna */
	.list-item a {
		color: black;
	}
	
	/* Justerar positionen på hamburgermenyn */
	.menu {
		display: block;
		position: absolute;
		right: 30px;
		top: 30px;
	}
	
	/* Används till javascript */
	.active {
		display: block;
	}

	#hide {
		display: none;
	}

}