.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:auto;
    background-image: url('https://images.unsplash.com/photo-1494825514961-674db1ac2700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    /* background-color: aqua; */
  }
  
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: burlywood; */
  }
  
   button {
    width: 320px;
    height: 50px;
    margin-top: 15px;
    font-size: 15px;
  }
  
   button:hover {
    cursor: pointer;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: deeppink; */
  }
  
  .image {
    width: 700px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: lightsteelblue; */
  }
  
  .image h3 {
    margin: 20px;
  }
  
  .image img {
    width: 150px;
    height: 150px;
  }